.vending-machine-section{
    height: 900px;
    width: 1000px;
    background-size: contain;
    display: flex;
    flex-direction: row;
    gap: 420px;
    align-items: center;
}

.title-section{
    color: white;
    width: 200px;
    margin-left: 80px;
    text-transform: uppercase;
}

h2{
    color: white;
}